.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1439.98px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }

  .navItem {
  }

  .navLink {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    padding-top: 6px;
    padding-bottom: 6px;
  }
}
