.section {
}

.contactInfoWrapper {
  margin-bottom: 48px;
}

.sectionTitle {
  text-align: left;
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 32px;
}

.address {
}

.addressList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.addressItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.addressIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-text-primary);
}

.addressLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;

  /* text-decoration-skip-ink: none; */
}

.addressLocation {
}
/* 
@media screen and (min-width: 1440px) {

} */

@media screen and (min-width: 1440px) {
  .section {
  }

  .requestContainer {
    display: grid;
    column-gap: 80px;
    row-gap: 24px;
    grid-template-columns: 600px auto;
    grid-template-rows: 122px auto;
    /* justify-content: space-between; */
  }

  .sectionTitle {
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 40px;
    grid-column: 1;
    grid-row: 1;
  }

  .contactInfoWrapper {
    grid-column: 1;
    grid-row: 2;
    /* width: 600px; */
  }

  .formWrapper {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .text {
    font-weight: 400;
    font-size: 18px;

    line-height: 1.5;
  }

  .address {
  }

  .addressList {
  }

  .addressItem {
  }

  .addressIcon {
  }

  .addressLink {
    text-decoration: none;
  }

  .addressLink:hover,
  .addressLink:focus {
    text-decoration: underline;
  }

  .addressLocation {
  }
}
