/* Components/MobileMenuBtn/MobileMenuBtn.module.css */

.button {
  border: none;
  border-radius: 8px;
  padding: 9px 5.5px 8px;
  width: 32px;
  height: 32px;

  background-color: transparent;
}

.navIcon {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.navIcon span {
  background-color: var(--color-text-primary);
  position: absolute;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
}

.navIcon span {
  transition-duration: 500ms;
  border-radius: 1px;
}

.navIcon span:nth-child(1) {
  top: -2px;
  left: 0px;
}

.navIcon span:nth-child(2) {
  top: 5.5px;
  left: 0px;
  opacity: 1;
}

.navIcon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.navIcon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}

.navIcon.open span:nth-child(2) {
  opacity: 0;
}

.navIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 6px;
}

@media screen and (min-width: 1440px) {
  .button {
    display: none;
  }
}
