.modelPreview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
}

.modelPreviewImage {
}

.fileName {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  position: absolute;
  bottom: 12px;
  right: 15px;
  z-index: 1;
}
/* .modelPreview canvas {
  width: 100%;
  height: 100%;
  display: block;
} */
