.buttonSubmit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-secondary);

  border: 1px solid var(--color-text-primary);
  border-radius: 16px;
  padding: 10px 24px;
  width: 100%;

  transition:
    border-color 250ms ease,
    color 250ms ease,
    background-color 250ms ease;
}

.buttonSubmit:not(.buttonDisabled):hover,
.buttonSubmit:not(.buttonDisabled):focus,
.buttonSubmit:not(.buttonDisabled):active {
  border-color: #2f80ed;
  color: var(--color-text-primary);
  background-color: #2f80ed;
  transform: translateY(-1px);
}

.buttonDisabled {
  opacity: 0.85;
  cursor: default;
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
  color: rgba(2, 8, 7, 0.65);
  transform: translateY(0);
}
