.buttonSubmit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-secondary);

  border: 1px solid var(--color-text-primary);
  border-radius: 16px;
  padding: 10px 24px;
  width: 100%;

  transition:
    border-color 250ms ease,
    color 250ms ease,
    background-color 250ms ease;
}

.buttonSubmit:hover,
.buttonSubmit:focus,
.buttonSubmit:active {
  border-color: #2f80ed;
  color: var(--color-text-primary);
  background-color: #2f80ed;
  transform: translateY(-1px);
}
