/* RESET */

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASE */

:root {
  --color-bg-primary: #0a1f2d;

  --color-text-primary: #ffffff;
  --color-text-secondary: #020807;
  --color-hover: #d1dbe2;
  --color-border: rgba(255, 255, 255, 0.2);
}

body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-lora), serif;
  color: var(--color-text-primary);
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;

  margin-bottom: 48px;
}

section {
  padding: 64px 0;
}

.container {
  width: 100%;
  min-width: 335px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 52px;
    margin-bottom: 80px;
  }

  section {
    padding: 112px 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}
