/* RequestForm.module.css */

.form {
}

.fieldsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;
}

.fieldItem {
  width: 100%;
}

.addFilesInput {
  display: none;
}

.addFilesBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed var(--color-text-primary);
  border-radius: 12px;
  width: 100%;
  padding: 36px 24px;
  cursor: pointer;
  background-color: var(--color-bg-primary);
  margin-bottom: 12px;
  transition:
    color 250ms ease,
    background-color 250ms ease;
}

.addFilesBtn:hover {
  background-color: var(--color-hover-secondary);
}

.addFilesBtnText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.addFilesBtnIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-text-primary);
}

.addFilesDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.lastChild {
  margin-bottom: 0;
}

/* ====================== */

.filesList {
  /* height: auto;
  transition: height 500ms ease; */
}

.fileItem {
}

.successText {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .form {
    width: 600px;
  }
}
