.filesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.fileItem {
  position: relative;
  /* width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden; */

  border-radius: 8px;
}

.uploadImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeFileBtn {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  background-color: rgba(10, 31, 45, 0.6);
}

.removeBtnIcon {
  width: 24px;
  height: 24px;
  fill: red;
}
