/* FormField.module.css */

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}

.inputField {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* color: rgba(255, 255, 255, 0.6); placeholder */
  /* border: 1px solid var(--color-border); */
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  width: 100%;
  height: 48px;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  outline: 1px solid var(--color-border);
  transition: outline-color 250ms ease;
}

.inputField:focus {
  outline: 1px solid var(--color-hover);
}

.inputField:-webkit-autofill {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.inputField:-webkit-autofill:focus {
  caret-color: var(--color-text-primary);
  -webkit-text-fill-color: var(--color-text-primary);
  box-shadow: 0 0 0px 1000px var(--color-bg-primary) inset; /* фон */
  border: none;
}

.inputField:-webkit-autofill:not(:focus) {
  box-shadow: 0 0 0 1000px var(--color-bg-primary) inset; /* фон без фокуса */
  -webkit-text-fill-color: var(--color-text-primary);
}

.inputField:where(textarea) {
  height: 180px;
  resize: none;
}

.errorMessage {
  /* position: absolute;
  bottom: -23px;
  left: 0;
  color: red; */
}
